// @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@font-face {
  font-family: 'FontAwesome';
  src: url('@/themes/main/fonts/fontawesome-webfont.eot?v=3.2.1');
  src: url('@/themes/main/fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('@/themes/main/fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('@/themes/main/fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('@/themes/main/fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import 'theme';
@import 'button';
@import 'input';
@import 'menu';
@import 'checkbox';