@use 'sass:color';
@use "sass:map";

$border-color: $main-color;
$bg-color: lighten($border-color, 10%);

.v-menu {
  position: relative;
  border-radius: $menu-radius;
}

.v-menu-items {
  position: absolute;
  background-color: white;
  border: 2px solid $border-color;
  border-radius: $menu-radius;
  box-shadow: map.get($shadows, 'normal');
  overflow: hidden;
  margin-top: 8px;
  z-index: 500;
}

.v-menu-item {
  display: flex;
  align-items: center;
  justify-content: stretch;
  white-space: nowrap;

  &[disabled='true'],
  &[aria-disabled='true'] {
    color: #ccc;
  }
}

.v-menu-item:not(:last-child) {
  // border-bottom: 2px solid var(--border-color);
}

.v-menu-item:hover {
  color: white;
  cursor: pointer;
  background-color: $bg-color;
}

.v-menu-separator {
  background-color: $border-color;
  flex: 1;
  width: 100%;
  height: 2px;
}
