@use 'sass:color';
@use "sass:map";

.v-radio {
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  outline: none;
  vertical-align: baseline;
  font-style: normal;

  min-height: $radio-size;
  line-height: $radio-size;
  min-width: $radio-size;

  &[disabled='true'],
  &[aria-disabled='true'] {
    opacity: 0.5;
  }
}

.v-radio label {
  cursor: pointer;
  position: relative;
  display: block;
  padding-left: 1.3rem;
  outline: none;
}

.v-radio label:before {
  position: absolute;
  top: 0px;
  left: 0px;

  width: $radio-size;
  height: $radio-size;
  content: '';

  background: white;
  border-radius: $radio-radius;
  border: $radio-border solid $main-color;
}

.v-radio label:after {
  font-family: FontAwesome;
  position: absolute;
  top: 0px;
  left: 0;
  width: $radio-size;
  height: $radio-size;
  text-align: center;
  opacity: 0;
  color: $main-color;
  line-height: $radio-size;
  font-size: 12px;
  transform: scale(0.46666667);
  border-radius: $radio-radius;
}

.v-radio input[type='radio'],
.v-radio input[type='radio'] {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0 !important;
  outline: none;
  z-index: 3;
  width: $radio-size;
  height: $radio-size;
}

.v-radio input:checked ~ label:before {
  background: white;
  border-color: $main-color;
}

.v-radio input:checked ~ label:after {
  content: '';
  opacity: 1;
  background-color: $main-color;
}

.v-radio.primary label:before,
.v-radio.primary input:checked ~ label:before {
  border-color: $primary-color;
}

.v-radio.primary input:checked ~ label:after {
  background-color: $primary-color;
}
