$main-color: #4a5568;
$primary-color: #6b46c1;
$gray-color: #e5e7eb;

$btn-radius: 8px;
$btn-sizes: (
  'small': 28px,
  'normal': 36px,
  'large': 44px,
  'x-large': 52px
);

$input-radius: 8px;
$input-sizes: (
  'small': 28px,
  'normal': 36px,
  'large': 44px,
  'x-large': 52px
);

$checkbox-size: 18px;
$checkbox-radius: 4px;
$checkbox-border: 2px;

$radio-size: 18px;
$radio-radius: 999px;
$radio-border: 2px;

$menu-radius: 8px;

$dialog-radius: 8px;

$tab-radius: 0px;
$tab-border: 2px;
$tab-border-color: transparent;
$tab-active-text-color: $primary-color;
$tab-active-color: $gray-color;
$tab-height: 36px;
$tab-content-color: $gray-color;

$shadows: (
  'small': 0 1px 2px 0 rgba(0, 0, 0, 0.05),
  'normal': (
    0 1px 3px 0 rgba(0, 0, 0, 0.15),
    0 1px 2px 0 rgba(0, 0, 0, 0.08)
  ),
  'large': (
    0 10px 15px -3px rgba(0, 0, 0, 0.15),
    0 4px 6px -2px rgba(0, 0, 0, 0.08)
  )
);
