@use "sass:map";

.z-btn {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  height: map.get($sizes, 'height');
  position: relative;
  border: 2px solid;
  user-select: none;
  text-decoration: none;
  padding: 0 1.5rem;

  color: $main-color;
  background-color: transparent;
  border-color: $main-color;
}

.z-btn.primary {
  color: white;
  background-color: $primary-color;
  border-color: $primary-color; 
}