
.v-select {
  appearance: none;
  background-color: white;
  border-radius: var(--input-radius);
  box-shadow: var(--shadow-normal);
  height: var(--input-size-normal);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0iI2EwYWVjMCIgd2lkdGg9IjMycHgiIGhlaWdodD0iMzJweCI+PHBhdGggZD0iTTcuNDEgOC41OUwxMiAxMy4xN2w0LjU5LTQuNThMMTggMTBsLTYgNi02LTYgMS40MS0xLjQxeiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMFYweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 22px auto, 100%;
  padding: 4px 32px 4px 8px;
  color: var(--main-color);
  border: 2px solid var(--main-color);

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2em var(--main-color-light);
  }

  &:disabled {
    opacity: 0.8;
  }
}

.v-select.primary {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2em var(--primary-color-light);
  }
}